html,
body {
    height: 100%;
}

.stats {
    padding: 5px;
    margin-bottom: 3px;
}

.stats-element {
    text-align: center;
}

.Box-header-custom {
    padding: 4px 6px 2px 6px;
    /*padding-left: 10px;*/
    margin: -1px -1px 0 -1px;
    background-color: #f6f8fa;
    border-color: #d1d5da;
    border-style: solid;
    border-width: 1px;
    border-top-left-radius: 3px;
    border-top-right-radius: 3px
}

.Box-header-blue-custom {
    background-color: #e0f8ff;
!important;
    border-color: #c8e1ff
}

.Box-header-green-custom {
    border-color: #b0e2c0;
!important;
    background-color: #e6ffe1
}

.Box-header-orange-custom {
    border-color: #ffc7b9;
!important;
    background-color: #ffded1
}

.Box-row-custom {
    padding: 6px;
    margin-top: -1px;
    list-style-type: none;
    border-top: 1px solid #e1e4e8
}

.Box-row-content {
    font-size: 12px;
    font-weight: 600
}

.Box-custom {
    background-color: #fff;
    border: 1px solid #d1d5da;
    border-radius: 3px
}

.commit-link {
    color: black;
    text-decoration: underline;
}

.page-heading {
    text-align: center;
    padding-top: 10px;
}

.analysis-bar {
    width: 16px;
    height: 16px;
    margin-bottom: 3px;
}

.committer-image {
    width: 45px;
    height: 45px;
}

.avatar-image {
    width: 45px;
    height: 45px;
}

.initial-committer-div {
    margin: 5px;
}


.homepage-container {
    display: flex;
    justify-content: center;
    align-items: center;
    vertical-align: center;
    padding-top: 50px;
}




