.homeBtnError {
    z-index: 99; /* Make sure it does not overlap */
    border: 1px;
    outline: 1px;
    background-color: white; /* Set a background color */
    color: black; /* Text color */
    cursor: pointer; /* Add a mouse pointer on hover */
    padding: 15px; /* Some padding */
    font-size: 22px; /* Increase font size */
}