<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Analysis</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
    <link rel="stylesheet" type="text/css" th:href="@{/webjars/bootstrap/4.2.1/css/bootstrap.min.css}"/>
    <link rel="stylesheet" type="text/css" href="/analysis.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
    <script src="/js/canvasjs.min.js"></script>
    <script type="text/javascript" th:src="@{/webjars/jquery/3.3.1-1/jquery.min.js/}"></script>
    <script type="text/javascript" th:src="@{/webjars/bootstrap/4.2.1/js/bootstrap.min.js}"></script>

    <link rel="stylesheet" type="text/css" href="/primer.css">
    <link rel="stylesheet" type="text/css" href="/edits.css">
    <!--<link rel="stylesheet" type="text/css" href="all.css">-->
    <link rel="stylesheet" type="text/css"
          href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.8.1/css/all.css"
          integrity="sha384-50oBUHEmvpQ+1lW4y57PTFmhCaXp0ML5d60M1M7uH2+nqUivzIebhndOJK28anvf" crossorigin="anonymous">


</head>
<body>


<script th:inline="javascript">
    var messageLengths = /*[[${commitAnalytics.getCommitMessageLengths()}]]*/ "";
    var lowest = /*[[${commitAnalytics.getMinCommitMessageLengthObject().getMessage().length()}]]*/ "";
    var highest = /*[[${commitAnalytics.getMaxCommitMessageLengthObject().getMessage().length()}]]*/ "";
    var messages = /*[[${commitAnalytics.getRawMessages()}]]*/ "";
    var dates = /*[[${commitAnalytics.getDates()}]]*/ "";

    console.log(messageLengths.length);

    if (messageLengths.length > 1) {
        messageLengths.pop();
        messages.pop();
        dates.pop();
    }

    console.log(messages);
    messageLengths = messageLengths.reverse();
    messages = messages.reverse();
    dates = dates.reverse();


</script>


<script type="text/javascript" src="/js/analysis.js"></script>

<div class="container">

    <button onclick="topFunction()" id="myBtn" class="myBtn" title="Go to top"><i class="fas fa-chevron-up"></i> Top
    </button>

    <a href="/homepage">
        <button class="homeBtn"><i class="fas fa-chevron-left"></i> Homepage</button>
    </a>

    <div class="blankslate" style="text-align: center">

        <div class="container">
            <h1>
                <img th:src="${user.getAvatarUrl()}" class="author avatar-image"/>
                <span class="author" th:text="${user.getName()}" th:remove="tag"></span>
                <span class="path-divider">/</span>
                <a th:href="${repoUri}"><strong> <span class="author" th:text="${repoName}" th:remove="tag"></span>
                </strong></a>
            </h1>
        </div>
        <div class="d-flex flex-items-center">
            <div class="flex-auto initial-committer-div">
                <img th:src="${initialCommitter.getAvatarUrl()}" class="author avatar-image" align="right"/>
            </div>
            <div class="flex-auto text-left initial-committer-div">
                <h5>
                    <span class="author" th:text="${initialCommit.getCommitterName()}" th:remove="tag"></span> <br>
                    <span th:text="${initialCommit.getCommitterLogin()}" th:remove="tag"></span> <br>
                    <span th:text="${initialCommit.getCommitterEmailAddress()}" th:remove="tag"></span>
                </h5>
            </div>
            <br>
        </div>

    </div>


    <br>


    <div class="Box d-flex stats flex-items-center">
        <div class="flex-auto text-center">
            <i class="far fa-clock"></i>&nbsp<span th:text="${amountOfCommits}" th:remove="tag"></span>
            <span th:if="${amountOfCommits==1}">
                 Commits
            </span>
            <span th:unless="${amountOfCommits==1}">
                 Commits
            </span>


        </div>
        <div class="flex-auto text-center">
            <i class="fas fa-code-branch"></i>&nbsp<span th:text="${amountOfBranches}" th:remove="tag"></span>
            <span th:if="${amountOfBranches==1}">
                 Branch
            </span>
            <span th:unless="${amountOfBranches==1}">
                 Branches
            </span>
        </div>
        <div class="flex-auto text-center">
            <i class="fas fa-users"></i>&nbsp<span th:text="${amountOfContributors}" th:remove="tag"></span>
            <span th:if="${amountOfContributors==1}">
                 Contributor
            </span>
            <span th:unless="${amountOfContributors==1}">
                 Contributors
            </span>
        </div>


        <div class="flex-auto text-center">

            <span th:switch="${language.toLowerCase()}">
                <span th:case="java"><i class="fab fa-java"></i> Java</span>
                <span th:case="python"><i class="fab fa-python"></i> Python</span>
                <span th:case="php"><i class="fab fa-php"></i> PHP</span>
                <span th:case="css"><i class="fab fa-css3-alt"></i> CSS</span>
                <span th:case="html"><i class="fab fa-html5"></i> HTML</span>
                <span th:case="javascript"><i class="fab fa-js"></i> JavaScript</span>
                <span th:case="*"><i class="fas fa-code"></i>&nbsp;<span th:text="${language}"
                                                                         th:remove="tag"></span></span>
            </span>
        </div>

        <div class="flex-auto text-center">
            <i class="fab fa-readme"></i> ReadMe
            <span th:if="${readMePresent}">
                <img class="analysis-bar" src="/img/tick.png"/>
            </span>
            <span th:unless="${readMePresent}">
                <img class="analysis-bar" src="/img/cross.png"/>
            </span>
        </div>

        <div class="flex-auto text-center">
            <span th:if="${amountOfTags==1}">
                <i class="fas fa-tag"></i>&nbsp<span th:text="${amountOfTags}" th:remove="tag"></span> Tag
            </span>
            <span th:unless="${amountOfTags==1}">
                <i class="fas fa-tags"></i>&nbsp<span th:text="${amountOfTags}" th:remove="tag"></span> Tags
            </span>
        </div>

    </div>
    <div class="Box d-flex stats flex-items-center">
        <div class="flex-auto text-center">
            <i class="fas fa-exclamation-circle"></i>&nbsp .gitignore
            <span th:if="${gitIgnorePresent}">
                <img class="analysis-bar" src="/img/tick.png"/>
            </span>
            <span th:unless="${gitIgnorePresent}">
                <img class="analysis-bar" src="/img/cross.png"/>
            </span>
        </div>

        <div class="flex-auto text-center">
            <i class="far fa-lightbulb"></i> No idea folder
            <span th:if="${ideaFolderPresent}">
                <img class="analysis-bar" src="/img/cross.png"/>
            </span>
            <span th:unless="${ideaFolderPresent}">
                <img class="analysis-bar" src="/img/tick.png"/>
            </span>
        </div>

        <div class="flex-auto text-center">
            <i class="fas fa-circle-notch"></i> .circleci present
            <span th:if="${circleCiPresent}">
                <img class="analysis-bar" src="/img/tick.png"/>
            </span>
            <span th:unless="${circleCiPresent}">
                <img class="analysis-bar" src="/img/cross.png"/>
            </span>
        </div>


        <div class="flex-auto text-center">

            <span th:switch="${framework.toLowerCase()}">
                <span th:case="'spring'"><img src="/img/spring.png" class="analysis-bar"/> Spring</span>
                <span th:case="'laravel'"><i class="fab fa-laravel"></i> Laravel</span>
                <span th:case="'symfony'"><i class="fab fa-symfony"></i> Symfony</span>
                <span th:case="'unknown framework'"><i class="fas fa-crop-alt"></i> Unknown Framework</span>
            </span>
        </div>

        <div class="flex-auto text-center">
            <i class="fab fa-docker"></i> DockerFile
            <span th:if="${dockerfilePresent}">
                <img class="analysis-bar" src="/img/tick.png"/>
            </span>
            <span th:unless="${dockerfilePresent}">
                <img class="analysis-bar" src="/img/cross.png"/>
            </span>

        </div>

        <div class="flex-auto text-center">
            <span th:if="${isPrivate}"><i class="fas fa-eye"></i> Private </span>
            <span th:unless="${isPrivate}"><i class="fas fa-eye"></i> Public</span>
        </div>

    </div>


    <br>
    <div class="blankslate" style="text-align: left">

        <div id="chartContainer" style="height: 370px; width: 100%;"></div>

        Standard Deviation: <span class=" commit-display-text"
                                  th:text="${commitAnalytics.getAverageLengthOfCommitMessage()}"
                                  th:remove="tag"></span> <br>


        Average: <span class=" commit-display-text"
                       th:text="${commitAnalytics.getStandardDeviationOfCommitMessageLengths()}"
                       th:remove="tag"></span> <br>

    </div>


    <span th:if="${readMePresent}">
        <br>
        <div class="Box">
            <div class="Box-header-custom Box-header-green-custom d-flex flex-items-center">
                <i class="fab fa-readme"></i> &nbsp; <a data-toggle="collapse" href="#collapseReadMe"
                                                        style="color:black">  <span
                    th:utext="${readMe.getFilename()}"
                    th:remove="tag"></span> <i
                    class="fas fa-chevron-down"
                    style="color: black"></i> </a>
            </div>
            <div class="collapse Box-body" id="collapseReadMe">
                <span th:utext="${readMeFile}" th:remove="tag"></span>
            </div>
        </div>
    </span>
    <br>
    <span th:if="${lintOutput.size()>0}">

        <div class="Box-custom">
            <div class="Box-header-custom Box-header-orange-custom d-flex flex-items-center">
                <i class="fas fa-search"></i> &nbsp; <a data-toggle="collapse" href="#collapseLint" target="_blank"
                                                        style="color:black">Code Linting Available <i
                    class="fas fa-chevron-down"
                    style="color: black"></i>
            </a>
            </div>
            <div class="collapse Box-body" style="margin: -16px" id="collapseLint">
                <span th:each="suggestion : ${lintOutput}">
                        <span class="Box-row-custom Box-row--hover-gray d-flex flex-items-center">
                            <span class="Box-row-content flex-auto">
                                <a th:href="${suggestion.getGitHubLinkToFileOnTreeMaster()}" target="_blank"><span
                                        th:utext="${suggestion.getOriginalFilePath() + ': ' + suggestion.getLineNumber() + ':'}"
                                        th:remove="tag"></span></a> <span
                                    th:utext="${suggestion.getSuggestionText()}"></span>
                            </span>
                        </span>
                </span>



            </div>

        </div>
    </span>

    <span th:unless="${lintOutput.size()>0}">
        <div class="Box-header-custom Box-header-orange-custom d-flex flex-items-center">
            <i class="fas fa-search"></i> &nbsp; Code Linting Not Available
        </div>
    </span>


    <div th:each="commit:${commits}">

        <br>
        <div class="Box-custom">
            <div class="Box-header-custom Box-header-blue-custom d-flex flex-items-center">
                <span class="Box-title commit-box-header">(</span>
                <span class="Box-title commit-box-header" th:utext="${commit.getModifiedFiles().size()}"></span>
                <span class="Box-title commit-box-header">)</span>&nbsp
                <a class="Box-title commit-box-header flex-auto commit-link" target="_blank"
                   th:href="${commit.getCommitDiffUrl()}">
                    <span th:text="${commit.getMessage()}"></span></a>
                <h3 class="Box-title commit-box-header flex-justify-end" th:text="${commit.getDate()}"></h3>
            </div>

            <span th:each="file : ${commit.getModifiedFiles()}">
                <span class="Box-row-custom Box-row--hover-gray d-flex flex-items-center">

                        <a class="Box-row-content flex-auto" style="color:black" target="_blank"
                           th:href="${file.getBlobUrl()}">
                            <span style="text-decoration: none"><i class="far fa-file"></i> &nbsp </span>
                            <span
                                    th:utext="${file.getFilename()}"
                                    th:remove="tag"></span></a>


                    <span class="Box-row-content flex-justify-end">
                        <span th:text="${file.getAmountOfChanges()}" th:remove="tag"></span> modifications
                    </span>
                </span>
            </span>
        </div>

    </div>
</div>
</body>
</html>