<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Homepage</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
    <link rel="stylesheet" type="text/css" th:href="@{/webjars/bootstrap/4.2.1/css/bootstrap.min.css}"/>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
    <script type="text/javascript" th:src="@{/webjars/jquery/3.3.1-1/jquery.min.js/}"></script>
    <script type="text/javascript" th:src="@{/webjars/bootstrap/4.2.1/js/bootstrap.min.js}"></script>
    <link rel="stylesheet" type="text/css" href="/primer.css">
    <link rel="stylesheet" type="text/css" href="/edits.css">

</head>
<body style="background-color: ghostwhite">

<div class="container homepage-container">
    <div class="Box Box--spacious col-6 mx-auto text-center">
        <form action="/analyse?" method="get">
            <input type="hidden" id="accessToken" name="accessToken" th:value="${accessToken}">
            <div class="Box-body">
                <h3 class="f1-light">
                    Repository Analyser
                </h3>
                <dl class="form-group mb-4">
                    <dt><label>Enter the GitHub repository/organisation you wish to analyse here</label></dt>
                    <dd><input type="text" class="form-control" name="repoURI"
                               placeholder="i.e. https://github.com/user/repo"></dd>
                </dl>

                <div class="form-check">
                    <input type="checkbox" class="form-check-input" id="executeCodeLinter" name="executeCodeLinter">
                    <label class="form-check-label" for="executeCodeLinter">Execute Code Linter (will only analyse Java
                        files - may take a while for
                        large repositories)</label>
                </div>


                <button class="btn btn-primary btn-block">
                    Submit
                </button>
            </div>
        </form>
    </div>
</div>

</body>
</html>