<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Organisation</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
    <link rel="stylesheet" type="text/css" th:href="@{/webjars/bootstrap/4.2.1/css/bootstrap.min.css}"/>
    <link rel="stylesheet" type="text/css" href="/analysis.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
    <script src="/static/js/bootstrap.min.js"></script>
    <script type="text/javascript" th:src="@{/webjars/jquery/3.3.1-1/jquery.min.js/}"></script>
    <script type="text/javascript" th:src="@{/webjars/bootstrap/4.2.1/js/bootstrap.min.js}"></script>

    <link rel="stylesheet" type="text/css" href="/primer.css">
    <link rel="stylesheet" type="text/css" href="/edits.css">
    <!--<link rel="stylesheet" type="text/css" href="all.css">-->
    <link rel="stylesheet" type="text/css"
          href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.8.1/css/all.css"
          integrity="sha384-50oBUHEmvpQ+1lW4y57PTFmhCaXp0ML5d60M1M7uH2+nqUivzIebhndOJK28anvf" crossorigin="anonymous">


</head>
<body style="background-color: ghostwhite">
<div class="container">
    <h1 align="center" style="margin-top: 10px"><span th:text="${orgName}"></span></h1>
    <div class="list-group-flush" th:each="orgRepo : ${organisationRepositories}">

        <br>
        <div class="Box-custom">
            <div class="Box-header-custom Box-header-blue-custom d-flex flex-items-center">
                <a class="flex-auto commit-link flex-justify-center" target="_blank"
                   th:href="${orgRepo.getAnalysisLink()}">
                    <span th:text="${orgRepo.getFullName()}"></span></a>
            </div>

            <span class="Box-row-custom Box-row--hover-gray d-flex flex-items-center">

                                GitHub link: &nbsp; <a class="flex-auto" target="_blank"
                                                       th:href="${orgRepo.getRepoLink()}">
                                             <span th:text="${orgRepo.getRepoLink()}"></span>
                                             </a>
                        </span>
        </div>

    </div>

</div>

</body>
</html>